<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>launched.which.pages.need.hiding</string>
		<key>ProgramArguments</key>
		<array>
			<string>sh</string>
			<string>-c</string>
			<string>/Users/alex/Developer/Notes/share_notes/which_pages_need_hiding.sh</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>StartInterval</key>
		<integer>86400</integer>
		<key>StandardErrorPath</key>
		<string>/tmp/com.apple.restart.stderr</string>
		<key>StandardOutPath</key>
		<string>/tmp/com.apple.restart.stdout</string>
	</dict>
</plist>