<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>launched.nightly.build</string>
		<key>ProgramArguments</key>
		<array>
			<string>zsh</string>
			<string>-c</string>
			<string>/Users/alex/Developer/Tools/nightly_build.sh</string>
		</array>
		<key>StandardErrorPath</key>
		<string>/tmp/com.apple.restart.stderr</string>
		<key>StandardOutPath</key>
		<string>/tmp/com.apple.restart.stdout</string>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</dict>
</plist>